<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>{{page_title}}</title>
 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

 <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
 <link rel="stylesheet" href="{% static 'css/all.min.css' %}">

 <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>
 <!-- Top Navbar -->
 <nav class="navbar navbar-dark fixed-top bg-danger p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="dashboard.php">NORTHERN MINDANAO COLLEGES INC.</a>
 </nav>

 <!-- Side Bar -->
 <div class="container-fluid mb-5" style="margin-top:40px;">
  <div class="row">
   <nav class="col-sm-3 col-md-2 bg-light sidebar py-5 d-print-none">
    <div class="sidebar-sticky">


     
    </div>
   </nav>

   <div class="container py-4">
    {% block body %}

    {% endblock %}
</div>
   <!-- Boostrap JavaScript -->
<script src="../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/all.min.js"></script>
<script src="../js/custom.js"></script>
</body>

</html>